# Dependency directories
node_modules/

# Optional npm cache directory
.npm

# Output of 'npm pack'
*.tgz

# env files in config/ (keep examples committed)
config/*.env
!config/*.example.env

# Stores VSCode versions used for testing VSCode extensions
.vscode-test

src/temp/*.json
src/data/*.json
!src/data/abilities.lookup.json